* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}
nav.navbar{
    padding-bottom: 20px;
    padding-top: 10px; 
    display: flex;
    justify-content: space-between;
  
}
.nav-item{
    padding-right: 1.2rem;
    padding-left: .3rem;
    
}
a{
    text-decoration: none;
    color: black;
}
a.nav-item:hover{
    text-decoration: none;
    color: white;
    background-color: black;
}
ul.right{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding-right: .8rem;
}
ul.left{
    list-style-type: none;
    justify-content: flex-start;
    padding-left: 1.2rem;
    font-weight: 700;
}
li{
    list-style-type: none;
    display: inline-block;
    font-size: 1.5rem;
}
li.number{
    color: #F20683;
}
div.about-me-container{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 5rem;
}



/* (A) FIXED WRAPPER */
.hwrap {
    overflow: hidden; /* HIDE SCROLL BAR */
    background: #F20683;
    border-bottom: solid 1px black;
    color: white;
    font-size: 1rem;
  }
   
  /* (B) MOVING TICKER WRAPPER */
  .hmove { display: flex; }
  
  /* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
  .hitem {
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
  }
   
  /* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
  /* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
  @keyframes tickerh {
    0% { transform: translate3d(100%, 0, 0); }
    100% { transform: translate3d(-400%, 0, 0); }
  }
  .hmove { animation: tickerh linear 25s infinite; }
  .hmove:hover { animation-play-state: paused; }

 
  